<div class="grid--default__item item-flex__mobile" data-aos="flip-down">
	<div class="item__image">{{fields.field_image.content}}</div>
	<div class="grid__item__content">
	    <span class="item__content__info">{{ fields.created.content }}</span>
    	<h3>{{fields.title.content}}</h3>
    	<div class="item__resume">{{fields.field_introduction_1.content}}</div>
	</div>
</div>