<a  class="grid--default__item" href="{{ fields.view_node.content|striptags|trim }}">
	{{fields.field_image.content}}
	<div class="grid__item__content">
    	<h3>{{fields.title.content}}</h3>
    	<p>{{fields.field_position.content}}</p>
	</div>
</a>