.idt-banner {
    height: calc(35vh + 40px);
    & .idt-banner__content {
        max-width: 1000px;
        & h1 {
            font-size: clamp(20px, 3vw, 30px);
        }
    }
    
    & img, & video {
        max-height: 100%;
    }
    
    & .idt-banner__overlay {
        position: absolute;
        display: block;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        background: #0000003d;
        top: 20px;
        left: 20px;
        backdrop-filter: blur(6px);
    }
}

.idt-container {
    max-width: 1000px;
}



.swiper.slider-post-gallery {
    height: 400px;
     --swiper-pagination-bottom: 0px;
     --swiper-navigation-size: 20px;
     padding-bottom: 32px;
     margin-block: 16px;
    & img {
        height: 100%;
        object-fit: cover;
    }
    
    & .swiper-button-next, .swiper-button-prev {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 4px;
    }
}


@media screen and (max-width: 767px) {
    .idt-banner {
        height: auto;
    }
}