@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    vertical-align:baseline;
    font-weight:inherit;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-style:inherit;
    font-size:100%;
    border:0;
    outline:0;
    padding:0;
    margin:0;
    box-sizing:border-box
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins";
    & span{
        font-family: "Poppins";
    }
}

/*****************  Admin *****************/

.region.region-content {
    position: relative;
}

div#block-idt-theme-pestanas {
    position: absolute;
    top: 30px;
    left: 38px;
    z-index: 50;
    box-shadow: 0 0 5px #00000029;
    opacity: 0;
    transition: opacity 0.2s ease;
    & ul.tabs.tabs--primary.clearfix {
        padding: 10px;
        box-sizing: border-box;
        overflow: visible;
        margin: 0;
        background-color: #fff;
    }
    
    &:hover{
        opacity: 1;
    }
    
    
}

/***************** End Admin *****************/

:root{
    --color-primary: #234692;
    --color-secondary: #FBBC1F;
    --color-white: #fff;
    --color-text: #000;
    --color-light-gray: #F4F4F4;
    --color-gray: #B4B4B4;
}

svg{
    overflow: visible;
}

input[type=text],input[type=email],input[type=tel],input[type=url],input[type=search] {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0
}
[hidden] {
    display:none
}
input,textarea {
    background-color:rgba(0,0,0,0);
    border:0
}
input[type=button],input[type=checkbox],input[type=color],input[type=date],input[type=datetime],input[type=email],input[type=file],input[type=hidden],input[type=image],input[type=month],input[type=number],input[type=password],input[type=radio],input[type=range],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week] {
    -moz-appearance:none;
    appearance:none
}
abbr[title] {
    border-bottom:1px dotted
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display:block
}
a {
    text-decoration:none
}
address,caption,cite,code,dfn,em,th,var,optgroup {
    font-style:inherit;
    font-weight:inherit
}
a:focus,input[type=text] {
    outline:0px
}
audio,canvas,video {
    display:inline-block
}
audio:not([controls]) {
    display:none;
    height:0
}
abbr,acronym {
    border:0 none;
    font-variant:normal
}
b,strong {
    font-weight:700
}
button,input,select,textarea {
    font-family:inherit;
    font-size:100%
}
button,input {
    line-height:normal
}
button,select {
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled] {
    cursor:default
}
caption,th {
    text-align:left
}
code,kbd,pre,samp {
    font-family:monospace,serif;
    font-size:1em
}
del,ins {
    text-decoration:none
}
em {
    font-style:italic
}
fieldset,img,button {
    border:0 none
}
.call {
    margin-right:56px;
    margin-bottom:124px
}
hr {
    border:0 none;
    border-top:1px solid #000;
    height:1px;
    margin:0;
    text-align:left;
    width:100%
}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit
}
input[type=button],input[type=submit] {
    cursor:hand;
    cursor:pointer
}
input[type=search] {
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
legend {
    border:0
}
mark {
    background:#ff0;
    color:#000
}

pre {
    white-space:pre-wrap
}
q {
    quotes:"“" "”" "‘" "’"
}
table {
    border-collapse:collapse;
    border-spacing:0
}
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup {
    font-size:65%;
    vertical-align:text-top;
    top:-0.5em
}
sub {
    vertical-align:text-bottom;
    bottom:-0.25em
}
textarea {
    overflow:auto;
    resize:none;
    vertical-align:top
}
textarea {
    box-shadow:0
}
button {
    border:0;
    background:rgba(0,0,0,0);
    cursor:pointer
}
a {
    cursor:pointer
}

.fancybox__content {
    background:rgba(0,0,0,0) !important;
    padding:16px;
    width:100%
}
@media only screen and (max-width: 1023px) {
    .fancybox__content {
        padding:0
    }
}
.fancybox__backdrop {
    background:var(--fancybox-bg, rgba(0, 0, 0, 0.92))
}
button,a {
    outline:none !important
}
.container {
    margin:0 auto;
    max-width:1200px;
    width:100%;
    position:relative
}
html {
    scroll-behavior:smooth
}
body {
    font-family:"Poppins", sans-serif;
    overflow-x:hidden;
    hyphens:none;
    word-wrap:normal;
    background-color:#fff;
    color: var(--color-text);
}
.Merriweather Sans {
    
    font-optical-sizing:auto;
    font-style:normal
}

h2 {
    font-size:35px;
    font-weight: 800;
}

h3 {
    font-size:25px;
    font-weight: 800;
}
@media only screen and (max-width: 1023px) {
    h2 {
        font-size:25px
    }
    
    h3 {
        font-size:20px; 
    }
}
.user-login-form {
    max-width:768px;
    width:100%;
    margin:0 auto
}
input[type=text],input[type=password],input[type=email],input[type=number],textarea {
    width:100%;
    padding:.5rem;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    font-size:1rem;
    line-height:1.5;
    margin-bottom:1rem
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=number]:focus,textarea:focus {
    border-color:#007bff;
    outline:none;
    box-shadow:0 0 0 3px rgba(38,143,255,.25)
}
select {
    width:100%;
    padding:.5rem;
    border:1px solid #ccc;
    border-radius:4px;
    background-color:#fff;
    font-size:1rem;
    line-height:1.5;
    margin-bottom:1rem
}
select:focus {
    border-color:#007bff;
    outline:none;
    box-shadow:0 0 0 3px rgba(38,143,255,.25)
}
input:disabled,textarea:disabled,select:disabled {
    background-color:#f8f9fa;
    border-color:#e9ecef;
    cursor:not-allowed;
    opacity:.65
}


.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    & .logos{
        & img{
            width: 200px;
        }
    }
}
.header .top {
    background-color:#025dc3;
    padding:10px 0
}
.header .top .container {
    display:flex;
    justify-content:space-between;
    align-items:center
}
@media only screen and (max-width: 1023px) {
    .header .top .container {
        flex-direction:column
    }
}
.header .top .container .right {
    display:flex;
    align-items:center;
    gap:14px
}
@media only screen and (max-width: 1023px) {
    .header .top .container .right {
        flex-direction:column
    }
}
.header .top .container .right #search-block-form {
    display:flex;
    align-items:center;
    border-radius:5px
}
.header .top .container .right .form-actions .button,.header .top .container .right .field-actions .button,.header .top .container .right .form-actions .action-link,.header .top .container .right .field-actions .action-link {
    padding:7px;
    font-size:12px
}
.header .top .container .right .form-actions .button[type=submit],.header .top .container .right .field-actions .button[type=submit],.header .top .container .right .form-actions .action-link[type=submit],.header .top .container .right .field-actions .action-link[type=submit] {
    display:inline-flex;
    align-items:center;
    background-color:#025dc3;
    border:none;
    color:#fff;
    border-radius:0 5px 5px 0;
    border:1px solid #d2d2d2;
    margin:0;
    cursor:pointer;
    padding:4.8px 7px
}
.header .top .container .right .form-actions .button[type=submit]:hover,.header .top .container .right .field-actions .button[type=submit]:hover,.header .top .container .right .form-actions .action-link[type=submit]:hover,.header .top .container .right .field-actions .action-link[type=submit]:hover {
    background-color:#004a9f
}
.header .top .container .right .form-element--type-search[type=search] {
    min-height:20px;
    padding:3px;
    margin:0;
    font-size:12px;
    border-radius:5px 0 0 5px;
    width:150px;
    border:1px solid #d2d2d2
}
.header .top .container .right tr .form-item,.header .top .container .right .container-inline .form-item,.header .top .container .right input {
    margin:0
}
.header .top .container .right .links {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px
}
.header .top .container .right a {
    color:#fff;
    
    font-size:12px;
    display:flex
}
@media only screen and (max-width: 1023px) {
    .header .top .container .right a svg {
        width:8px;
        height:8px
    }
}
.header .top .container .right a:hover {
    text-decoration:underline;
    opacity:.8
}
.header .bottom {
    background-color:#fff;
    padding: 20px 20px 0px;
}
.header .bottom .container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border-block: 1px solid;
    padding-block: 4px;
}

.header .region.region-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .bottom .container nav .menu {
    display:flex;
    align-items:center;
    margin:0;
}
@media only screen and (max-width: 1023px) {
    .header .bottom .container nav .menu {
        flex-direction:column
    }
}
.header .bottom .container nav .menu li {
    color:#000;
    list-style-type:none;
    position:relative;
    width: 100%;
}
.header .bottom .container nav > .menu > li > a {
    color: var(--color-primary);
    display: block;
    font-size: 16px;
    font-optical-sizing:auto;
    font-style:normal;
    padding: 20px;
    font-weight: 800;
    &:hover{
        color:#234692;
    }
    &.is-active{
        text-decoration: underline;
    }
}

.header .bottom .container nav .menu-item.menu-item--expanded .menu {
    z-index: 10;
    box-shadow: 0 5px 5px #00000030;
    border: 1px solid #ccc;
    
    & a{
        display: block;
        padding: 10px;
        width: 100%;
        color: #000;
        &:hover{
            background-color: #234692;
            color: #fff;
        }
    }
}

.header .bottom .container nav .menu li ul.menu {
    /*position:absolute;*/
    top:100%;
    left:0;
    display:none;
    width:100%;
    background:#fff;
    border-radius:0 0 10px 10px;
    overflow:hidden;
    pointer-events: none;
}

.header .bottom .container nav .menu li ul.menu li:hover {
    background-color:#234692;
    color:#fff
}
.header .bottom .container nav .menu li ul.menu li:hover a {
    color:#fff
}
.header .bottom .container nav .menu li:hover ul.menu {
    display:block;
    pointer-events: none;
}

.header form#search-block-form{
    position: relative;
}

.header input[type="search"] {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    padding: 0;
    border: 0;
    transition: width .3s ease, border .3s ease, padding .3s ease;
}

.header form#search-block-form:hover input[type="search"] {
    border: 1px solid #000;
    padding: 10px;
    max-width: 300px;
    width: 300px;
}

.header form#search-block-form button{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    & .button-icon svg{
        width: 25px;
        height: 25px;
        & path{
            fill: #1e3d7f;
        }
    }
}
/*
@media only screen and (max-width: 1023px) {
    .region.region-header {
        position:fixed;
        top:0;
        width:100%;
        height:100vh;
        background:#fff;
        z-index:4;
        display:flex;
        align-items:center;
        justify-content:center;
        left:-100vw;
        transition:all .6s cubic-bezier(0.16, 1, 0.3, 1)
    }
    .region.region-header.active {
        left:0;
        flex-direction: column;
    }
    
    .header input[type="search"] {
        position: relative;
        right: 0;
        top: 0;
        transform: translateY(0);
        width: 200px;
        padding: 0;
        border: 1px solid;
    }
}
*/


/* ---------------------------------------------------------------------------------------- */

.content #block-idt-theme-serviciociudadano {
    max-width: 1200px;
    width: 100%;
    margin: 60px auto;
}
.content #block-idt-theme-serviciociudadano div {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows:70px
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano {
        padding-inline: 20px;
    }
    
    .content #block-idt-theme-serviciociudadano div {
        display:grid;
        grid-template-columns:1fr;
        grid-auto-rows:100px
    }
}
.content #block-idt-theme-serviciociudadano div img {
    justify-self:flex-end
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano div img {
        justify-self:flex-end;
        width:100%;
        display:block;
        float:none
    }
}
.content #block-idt-theme-serviciociudadano div p a {
    font-size:24px;
    padding:8px 15px;
    border-radius:9px;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    max-width:280px;
    width:100%;
    display:inline-flex;
    align-items:center;
    justify-content:center
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano div p a {
        margin:0 auto;
        display:flex
    }
}
.content #block-idt-theme-serviciociudadano div p:nth-of-type(1) a {
    background-color:#f8c823;
    color:#354999;
    margin-bottom:20px;
    border:1px solid rgba(0,0,0,0)
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano div p:nth-of-type(1) a {
        margin:0 auto 20px
    }
}
.content #block-idt-theme-serviciociudadano div p:nth-of-type(1) a:hover {
    background-color:rgba(0,0,0,0);
    border:1px solid #f8c823;
    color:#354999
}
.content #block-idt-theme-serviciociudadano div p:nth-of-type(2) {
    grid-column:2
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano div p:nth-of-type(2) {
        grid-column:1
    }
}
.content #block-idt-theme-serviciociudadano div p:nth-of-type(2) a {
    background-color:#354999;
    color:#fff;
    border:1px solid rgba(0,0,0,0)
}
@media only screen and (max-width: 1023px) {
    .content #block-idt-theme-serviciociudadano div p:nth-of-type(2) a {
        margin:0 auto
    }
}
.content #block-idt-theme-serviciociudadano div p:nth-of-type(2) a:hover {
    background-color:rgba(0,0,0,0);
    border:1px solid #354999;
    color:#354999
}
#block-idt-theme-views-block-conectate-con-nosotros-block-1 {
    max-width:1200px;
    width:100%;
    margin:0 auto;
    padding:0 20px
}
.view-conectate-con-nosotros {
    margin-bottom:70px
}
.view-conectate-con-nosotros .view-content {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(215px, 1fr));
    gap:28px;
    align-items:center;
    justify-content:center
}
@media only screen and (max-width: 1023px) {
    .view-conectate-con-nosotros .view-content {
        display:flex;
        align-items:center;
        justify-content:center;
        gap:10px
    }
}
.view-conectate-con-nosotros .view-content a {
    position:relative
}
.view-conectate-con-nosotros .view-content a .field-banner {
    width:215px;
    height:215px;
    border-radius:19px;
    overflow:hidden
}
@media only screen and (max-width: 1023px) {
    .view-conectate-con-nosotros .view-content a .field-banner {
        display:none
    }
}
.view-conectate-con-nosotros .view-content a .field-banner img {
    width:100%;
    height:100%;
    transition:transform .6s cubic-bezier(0.16, 1, 0.3, 1);
    object-fit:cover
}
.view-conectate-con-nosotros .view-content a .field-image {
    position:absolute;
    bottom:-32px;
    left:50%;
    transform:translateX(-50%);
    background-color:#fff;
    box-shadow:rgba(0,0,0,.25) 0px 4px 4px;
    width:64px;
    height:64px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center
}
@media only screen and (max-width: 1023px) {
    .view-conectate-con-nosotros .view-content a .field-image {
        position:static;
        transform:none
    }
}
.view-conectate-con-nosotros .view-content a .field-image img {
    width:28px;
    height:28px;
    object-fit:contain
}
.view-conectate-con-nosotros .view-content a:hover .field-banner img {
    transform:scale(1.1)
}
.view-bannersHome .view-content {
    position:relative;
    height:100vh
}
.view-bannersHome .view-content::after {
    content:"";
    background:linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 212, 255, 0) 100%);
    width:100%;
    bottom:0;
    left:0;
    height:100%;
    position:absolute
}
.view-bannersHome .view-content .txt {
    padding:50px 20px;
    position:absolute;
    width:100%;
    max-width:840px;
    margin:0 auto;
    bottom:0;
    left:50%;
    z-index:2;
    transform:translateX(-50%)
}
.view-bannersHome .view-content .txt h3 {
    font-size:48px;
    line-height:normal;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 3px 4px rgba(0,0,0,.31);
    text-align:center
}
@media only screen and (max-width: 1023px) {
    .view-bannersHome .view-content .txt h3 {
        font-size:30px;
        line-height:35px
    }
}
.view-bannersHome .view-content .txt h4 {
    font-size:24px;
    color:#fff;
    text-shadow:0px 3px 4px rgba(0,0,0,.31);
    text-align:center
}
@media only screen and (max-width: 1023px) {
    .view-bannersHome .view-content .txt h4 {
        font-size:18px;
        line-height:20px
    }
}
.view-bannersHome .view-content .txt .actions {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
    margin-top:34px
}
.view-bannersHome .view-content .txt .actions a {
    font-size:24px;
    padding:8px 15px;
    border-radius:9px;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    max-width:280px;
    width:100%;
    gap:8px;
    display:inline-flex;
    align-items:center;
    justify-content:center
}
.view-bannersHome .view-content .txt .actions a:nth-of-type(1) {
    background-color:#fff;
    color:#354999;
    border:1px solid rgba(0,0,0,0)
}
.view-bannersHome .view-content .txt .actions a:nth-of-type(1):hover {
    background-color:rgba(0,0,0,0);
    border:1px solid #fff;
    color:#fff
}
.view-bannersHome .view-content .txt .actions a:nth-of-type(2) {
    background-color:#354999;
    color:#fff;
    border:1px solid rgba(0,0,0,0)
}
.view-bannersHome .view-content .txt .actions a:nth-of-type(2):hover {
    background-color:rgba(0,0,0,0);
    border:1px solid #fff;
    color:#fff
}
.view-bannersHome .view-content img {
    width:100%;
    object-fit:cover;
    height:100%
}

.view-destacadas-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode:multiply;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    margin-top:190px;
    padding-bottom:50px;
    margin-bottom:50px;
    position:relative
}
.view-destacadas {
    margin-top:-180px
}
.view-destacadas .splide__arrows {
    display:flex;
    justify-content:flex-end;
    gap:20px
}
.view-destacadas .splide__arrow {
    position:static;
    background:#f8c823
}
.view-destacadas .view-content a {
    align-items:center;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:13px;
    color:#fff;
    display:flex;
    flex-direction:column;
    height:427px;
    justify-content:flex-end;
    margin:0 auto;
    overflow:hidden;
    padding:14px 24px;
    position:relative;
    width:297px
}
.view-destacadas .view-content a::after {
    content:"";
    background:linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 212, 255, 0) 100%);
    width:100%;
    bottom:0;
    left:0;
    height:100%;
    position:absolute
}
.view-destacadas .view-content a strong {
    font-size:16px;
    font-weight:bold;
    position:relative;
    z-index:2
}
.view-destacadas .view-content a small {
    font-size:16px;
    font-weight:normal;
    position:relative;
    z-index:2
}
.more {
    background-color:#f8c823;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    padding:10px;
    border-radius:25px;
    position:absolute;
    bottom:-30px;
    left:50%;
    transform:translateX(-50%)
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:43px;
    max-width:950px;
    margin:0 auto;
    padding:0 20px
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row {
    display:flex;
    flex-direction:column;
    min-height:230px;
    align-items:center;
    justify-content:center;
    width:100%;
    padding:10px 35px;
    border-radius:13px;
    background-color:#fff;
    box-shadow:rgba(0,0,0,.24) 0px 3px 8px;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1)
}
@media only screen and (max-width: 1023px) {
    #block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row {
        padding:10px
    }
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row svg {
    width:77px;
    height:77px;
    object-fit:contain;
    color:#354999;
    margin-bottom:8px;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1)
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row span {
    color:#000;
    font-size:15px;
    display:block;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    width:100%;
    text-align:center
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row:hover {
    background-color:#354999
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row:hover svg {
    color:#fff
}
#block-idt-theme-views-block-articulos-misionales-misionales .view-content .views-row:hover span {
    font-weight:bold;
    color:#fff;
    font-size:15px
}
#block-idt-theme-views-block-articulos-misionales-misionales h2,#block-idt-theme-views-block-noticias-destacadas-home-block-1 h2,#block-idt-theme-views-block-banners-home-entidad h2 {
    max-width:1200px;
    margin:30px auto;
    width:100%;
}
.view-entidad .splide__arrows {
    display:flex;
    justify-content:flex-end;
    gap:20px
}
.view-entidad .splide__arrow {
    position:static;
    background:#f8c823
}
.view-entidad .view-content a {
    display:flex;
    flex-direction:column;
    overflow:hidden;
    align-items:center;
    justify-content:flex-end;
    background-repeat:no-repeat;
    background-size:cover;
    width:270px;
    height:212px;
    border-radius:13px;
    color:#fff;
    position:relative;
    background-position:center;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    margin:0 auto
}
.view-entidad .view-content a .txt {
    align-items:center;
    background-color:rgba(53,73,153,.78);
    bottom:0;
    display:flex;
    flex-direction:column;
    height:40px;
    justify-content:center;
    left:0;
    padding:8px 35px;
    position:absolute;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    width:100%;
    z-index:2
}
.view-entidad .view-content a .txt strong {
    font-weight:normal;
    text-align:center;
    width:100%;
    display:block;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    color:#fff
}
.view-entidad .view-content a .txt p {
    font-size:12px;
    color:#fff;
    display:none;
    transition:all .6s cubic-bezier(0.16, 1, 0.3, 1);
    text-align:center
}
.view-entidad .view-content a:hover .txt {
    height:100%
}
.view-entidad .view-content a:hover strong {
    font-weight:bold;
    color:#f8c823
}
.view-entidad .view-content a:hover p {
    display:block
}
.splide__pagination {
    bottom:-30px
}
.splide__pagination__page {
    background-color:#f8c823
}
.splide__pagination__page.is-active {
    background-color:#354999
}
.footer {
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode:multiply;
    padding-top:99px
}
.region.region-footer {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content:center;
    max-width:1200px;
    margin:0 auto;
    gap:30px;
    padding:0 20px
}
@media only screen and (max-width: 1023px) {
    .region.region-footer {
        grid-template-columns:1fr
    }
}
.region.region-footer h2 {
    color:#f8c823;
    font-size:24px;
    margin-bottom:30px
}
.region.region-footer p,.region.region-footer a,.region.region-footer li {
    margin-bottom:15px;
    font-weight:bold;
    font-size:14px;
    color:#fff
}
.logo_footer {
    display:flex;
    padding:30px 20px;
    align-items:center;
    justify-content:center
}
.logo_footer img {
    width:300px
}
.region.region-footer-bottom {
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-size:12px;
    color:#fff;
    text-align:center
}

table{
    & thead, & tfoot {
        & tr{
            background-color: var(--color-primary);
            font-weight: bold;
            & th{
                background-color: var(--color-primary);
                color: #fff;
                &::focus{
                    
                }
            }
            
            &:hover{
                background-color: var(--color-primary);
            }
        }
    }
}

/*---------------------------------------------------------------------------------------*/

/* Global */

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 1024px){
    .hide-desktop{
        display:none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .hide-tablet{
        display: none !important;
    }
}


@media screen and (max-width: 767px){
    .hide-mobile{
        display: none !important;   
    }
}

::marker {
    font-size: 0.8em;
    color: var(--color-grey);
}


.idt-container{
    max-width: 1200px;
    margin-inline:auto;
    padding: 0 20px;
}

.margin-top-bottom-60{
    margin-block: 60px;
}

.padding-top-60{
    padding-top: 60px;
}

.idt-banner{
    padding: 20px;
    position: relative;
    & img, & video {
        width: 100%;
        max-height: calc(50vh);
        object-fit: cover;
    }
    
    & .idt-banner__btn-sound{
        position: absolute;
        right: 30px;
        bottom: 38px;
        z-index: 1;
        background-color: #fff;
        padding: 10px;
        transition: background-color .3s ease;
    }
    
    & .idt-banner__content {
        max-width: 600px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #fff;
        padding: 0 20px;
        & h1 {
            font-size: clamp(20px, 3vw, 36px);
            font-weight: 900;
            text-transform: uppercase;
            &::before{
                content: none;
            }
        }
        
        & span{
            font-size: 14px;
            color: #939393;
        }
    }
}

.idt-article-content .field--name-body{
    text-align: justify;
    & b, strong {
        color: var(--color-primary);
    }
}

@media screen and (max-width: 767px){
    
    
    
    .margin-top-bottom-60 {
        margin-block: 30px;
    }
    
    .idt-banner {
        & img, & video {
            max-height: calc(50vh - 40px);
        }
        
        & .idt-banner__btn-sound {
            position: absolute;
            right: 20px;
            top: 20px;
            bottom: auto;
        }
        
        & .idt-banner__content {
            position: relative;
            bottom: 0px;
            left: 0px;
        }
    }
}

.breadcrumb {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-block: 10px;
    border-block: 1px solid #c9c9c9;
    & .breadcrumb__item{
        font-family: 'poppins';
        &:last-child{
            color: #939393;
            font-weight: 500;
        }
    }
}

.pager__link, .pager__item--current {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 12px;
    font-weight: 400;
    font-size: 14px;
    color: #234692;
}

.pager__link.is-active, .pager__item--current {
    color: var(--pager-fg-color);
    border: 1px solid #ccc;
    background: #efefef;
}
.pager__item-title--forward, .pager__item-title--backwards {
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.pager__item--first .pager__link::before, .pager__item--previous .pager__link::before, .pager__item--next .pager__link::after, .pager__item--last .pager__link::after{
    display: none;
}

.more-link {
    padding:10px 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#234692;
    width:fit-content;
    grid-column:2;
    margin: 45px auto;
}
@media only screen and (max-width: 1023px) {
    .more-link {
        grid-column:1
    }
}
.more-link a {
    color:#fff;
    
    font-size:22px;
    font-weight:bold;
    text-align:center
}
@media only screen and (max-width: 1023px) {
    .more-link a {
        font-size:14px
    }
}
.more-link:hover {
    background-color:#fbbc1f
}
.more-link:hover a {
    color:#234692
}


.idt-btn {
    font-size: 20px;
    display: block;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    &:hover{
        color: #fff;
        &::before{
            width: 150%;
            height: 150%;
            opacity: 1;
        }
    }
    &::before, ::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: width 0.3s cubic-bezier(.27,-0.49,.71,1.51), height 0.3s cubic-bezier(.27,-0.49,.71,1.51), opacity 0.3s ease;
    }
    
    &::after{
        transition: width 0.3s 0.2s cubic-bezier(.27,-0.49,.71,1.51), height 0.3s 0.2s cubic-bezier(.27,-0.49,.71,1.51), opacity 0.3s 0.2s ease;
    }
}

.idt-btn-secondary {
    width: fit-content;
    background-color: var(--color-secondary);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    overflow: hidden;
    color: #000;
    &:hover{
        &::before{
            width: 150%;
            height: 150%;
            opacity: 1;
        }
    }
    &::before, ::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: width 0.3s cubic-bezier(.27,-0.49,.71,1.51), height 0.3s cubic-bezier(.27,-0.49,.71,1.51), opacity 0.3s ease;
    }
    
    &::after{
        transition: width 0.3s 0.2s cubic-bezier(.27,-0.49,.71,1.51), height 0.3s 0.2s cubic-bezier(.27,-0.49,.71,1.51), opacity 0.3s 0.2s ease;
    }
}


.idt-list-acordeon{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    & .idt-list__item {
        font-weight: 800;
        color: var(--color-primary);
        background-color: var(--color-light-gray);
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        border-radius: 5px;
        list-style: none;
        transition: background-color .15s ease;
        &:hover{
            background-color: var(--color-primary);
            color:#fff;
        }
        
        
        &.active{
            background-color: var(--color-primary);
            color: #fff;
            padding: 10px 20px 20px;
            & .idt-list__item__content{
                height: initial;
                opacity: 1;
                pointer-events: all;
                background-color: #fff;
                padding: 10px;
                transition: height .3s ease, opacity .2s 0.15s ease-out;
            }
            & .idt-list__item__icon {
                transform: rotate(180deg);
            }
            
            & .idt-list__item__title{
                padding-bottom: 10px;
            }
        }
        
        a:hover{
            text-decoration: underline;
        }
        
        & .idt-list__item__title{
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }
        
        & .idt-list__item__icon {
            position: absolute;
            right: 20px;
            top: 15px;
            font-size: 15px;
            display: flex;
            transition: transform .3s ease;
        }
        
        & .idt-list__item__content{
            color: var(--color-text);
            font-weight: 400;
            margin: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
            cursor: auto;
            overflow: hidden;
            transition: height .3s ease, opacity .2s ease-out;
            
            & p{
                margin-top: 0;
            }
            
            & li{
                font-weight: 400;
            }
        }
    }
}

.p-column-2{
    column-count: 2;
    text-align: justify;
    column-gap: 45px;
}


@media screen and (max-width: 767px){
    .p-column-2{
        column-count: 1;
    }
    .idt-list-acordeon{
        & .idt-list__item {
            & .idt-list__item__title{
                padding-right: 40px;
            }
        }
    }
}


.slide--default__item {
        box-shadow: -4px 4px 5px #00000021;
        height: 100%;
        background-color: #fff;
        & img {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
            }
        & .slide__item__content{
            padding: 20px;
            & h3{
                position:relative;
                margin-bottom: 0;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20%;
                    height: 3px;
                    background-color: var(--color-primary);
                    top: -10px;
                }
            }
            
            & a {
                color: var(--color-primary);
                padding: 5px 10px;
                font-size: 20px;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    
.mySwiper--pits{
    .swiper-wrapper {
        padding: 10px; 
    }
    & .swiper-button-next, .swiper-button-prev {
        background-color: var(--color-primary);
        color: #fff;
        width: 40px;
        height: 40px;
        &::after {
            font-size: 24px;
        }
    }
}

/* Grid default */

.grid--default{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
    align-items:flex-start;
    gap:30px;
    max-width: 1200px;
    margin: 20px auto;
    
    & .grid--default__item {
        box-shadow: -4px 4px 5px #00000021;
        height: 100%;
        background-color: #fff;
        width: 100%;
        & img {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
            }
        & .grid__item__content{
            padding: 20px;
            & h3{
                font-size: 16px;
                font-weight: 600;
                position:relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 20%;
                    height: 2px;
                    background-color: var(--color-primary);
                    top: -10px;
                    transition: width 0.3s cubic-bezier(.24,.16,.61,1.3);
                }
                
                & a {
                    color: #000;
                    
                    &:hover{
                        text-decoration: underline;
                    }
                }
                
                &:hover{
                    &::before {
                        width: 50%;
                    }
                }
            }
            
            & .show-more {
                color: var(--color-primary);
                padding: 5px 10px;
                font-size: 16px;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 10px;
            }
            
            & .item__content__info {
                font-size: 14px;
                color: #878787;
            }
            
            & .item__resume {
                font-size: 14px;
                color: #595959;
                font-style: italic;
            }
        }
    }
}

.grid--first__full__width {
    & .grid--default__item {
        & .grid__item__content{
            & h3{
                & a {
                    font-family: 'Poppins';
                }
            }
        }
        
        &:first-child{
            grid-column: 1 / span 3;
            width: 100%;
            display: flex;
            align-items: center;
            & > a{
                width: 60%;
                & img{
                    width: 100%;
                    max-height: max-content;
                }
            }
            & .grid__item__content{
                width: 40%;
                & h3{
                    font-size: 20px;
                }
            }
            
            
        }
    }
}

.grid--two-columns {
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 1023px) {
    
    .grid--default{
        grid-template-columns:repeat(1, 1fr);
    }
    
    .grid--first__full__width  {
        & .grid--default__item {
            &:first-child{
                grid-column: initial;
                width: 100%;
                display: initial;
                & > a{
                    width: 100%;
                    & img{
                        width: 100%;
                    }
                }
                & .grid__item__content{
                    width: 100%;
                    & h3{
                        font-size: 20px;
                        &::before {
                            top: -10px;
                        }
                    }
                }
            }
        }
    }
    
    .grid--default .item-flex__mobile {
        display: flex;
        
        & .item__image {
            width: 35%;
            & img {
                width: 100%;
                height: 100%;
                max-height: 100%;
            }
        }
        
        & .grid__item__content {
            width: 65%;
            padding: 10px;
            padding-right: 0;
            & h3 {
                font-size: 15px;
            }
            
            & .item__resume {
                display: none;
            }
        }
    }
    
    .grid--default.grid-two-column--mobile {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        & .grid--default__item {
            box-shadow: none;
            position: relative;
            & .grid__item__content {
                padding: 0;
                & h3 {
                    font-size: 15px;
                    font-weight: 500;
                }
                
                & .show-more{
                    font-size: 14px;
                    padding: 0;
                }
            }
        }
        
        & .grid__item__content::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #efefef;
            position: absolute;
            bottom: -12px;
        }
        
        & .grid--default__item:nth-child(2n)::before {
            content: "";
            height: 100%;
            width: 1px;
            border-left: 1px solid #ccc;
            position: absolute;
            left: -12px;
            top: 0;
        }
    }
}


/* DOCUMENTS */

.idt-document {
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
    & img {
        max-width: 200px;
    }
    & .idt-document__info {
        padding: 20px;
        width: 100%;
        & .idt-btn--document {
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid var(--color-link);
            width: fit-content;
            padding: 10px 20px;
            color: var(--color-link);
            transition: background-color .15s ease;
            &:hover{
                background-color: var(--color-primary);
                color: #fff;
            }
        }
    }
    
    &:hover{
        border-color:var(--color-gray);
        box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    }
}


@media only screen and (max-width: 500px) {
    .idt-document {
        flex-direction: column;
        & img {
            width: 100%;
            max-width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}

.idt-icon{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
}


/* ------------------------------ Home ---------------------------- */

.views-field-body-home {
    max-width: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 0 20px;
    & h2{
    font-size: clamp(12px, 3vw, 30px);
    font-weight: 800;
    }
    & .more-link{
    justify-content: flex-start;
        margin: 0;
    }
}

#block-idt-theme-homesliderprincipal {
    padding: 20px;
}


div#block-idt-theme-ciudaddebogota {
    margin: 0px auto 30px;
    padding: 30px 0;
    background-color: var(--color-primary);
    color: #fff;
    & .field--name-body {
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        gap: 30px;
        & h2 {
            font-size: 60px;
            font-weight: 900;
            color: var(--color-secondary);
        }
    }
}


div#block-idt-theme-views-block-banners-home-banner-intermedio a {
    display: block;
    max-width: 1200px;
    margin: 120px auto;
    box-shadow: 0 2px 5px #9d9d9d;
}


div#block-idt-theme-laentidad {
    max-width: 1200px;
    margin: 120px auto;
    & .entidad__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 30px;
        & .entidad__list__item {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 30px;
            & h3{
                color: #000;
            }
            
            & .item__arrow {
                color: #000;
                font-size: 20px;
            }
        }
    }
    
}

div#block-idt-theme-misionales {
    background-color: #35499930;
    padding-block: 30px;
    & h2{
        max-width: 1200px;
        margin: 0 auto;
    }
    & .misionales__list{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        gap: 30px;
        & .misionales__list__item {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 60px;
            & h3{
                font-weight: 400;
                color: #000;
                font-size: 20px;
            }
            & svg {
                max-width: 125px;
                width: 100%;
            }
        }
    }
}


div#block-idt-theme-acercadelaslocalidades {
    max-width: 1200px;
    margin: 0px auto 30px;
    padding: 30px 0;
    & .field--name-body {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
        & .localidades__title {
            width: 100%;
            & a{
                font-size: 25px;
                font-weight: 800;
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }
        & h3 {
            font-size: 40px;
            font-weight: 900;
        }
    }
}

div#block-idt-theme-localidades {
    max-width: 1200px;
    margin: 0 auto;
    & .localidades__content {
        display: flex;
        
        
        & .swiper, & svg{
            width: 50%;
        }
    }
}


.localidades__content .active-map path {
    fill: var(--color-primary);
}


.localidades__content .active-map text{
    fill: #fff;
}






@media only screen and (max-width: 1023px) {
    
    .views-field-body-home {
        position: relative;
    }

    
    div#block-idt-theme-ciudaddebogota {
        padding: 30px 20px;
        & .field--name-body {
        flex-direction: column;
            gap: 0;
            & h2 {
                font-size: 40px;
            }
        }
    }
        
    
    div#block-idt-theme-laentidad {
        padding: 20px;
        & .entidad__list {
            justify-content: flex-start;
        }
    }
        
    
    div#block-idt-theme-misionales {
        padding: 20px;
        & .misionales__list{
            flex-direction: column;
        }
    }
    
    div#block-idt-theme-acercadelaslocalidades {
        & .field--name-body {
            flex-direction: column;
            padding-inline: 20px;
        }
    }
    
    div#block-idt-theme-localidades {
        & .localidades__content {
            display: flex;
            flex-direction: column;
            & .swiper, & svg{
                width: 100%;
            }
        }
    }
}




/* Footer */


.footer {
    background-color: var(--color-primary);
    position:relative;
    padding-top:45px
}

.footer img {
    width:100%;
    max-width:280px;
    margin:0 auto;
    display:block
}
.footer .container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px
}
@media only screen and (max-width: 1023px) {
    .footer .container {
        grid-template-columns:repeat(1, 1fr)
    }
}
.footer .container h2 {
    color:#f6b71f;
    margin-bottom:25px;
    font-size:16px;
    font-family:"Merriweather Sans"
}
.footer .container ul {
    & li, a{
        list-style: disc;
        color: #fff;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
    }
    & a{
        text-decoration: underline;
    }
}
.footer .logo_footer {
    margin-bottom:30px;
    display:block
}
.footer .region-footer-bottom {
    background-color:#fff;
}
.footer .region-footer-bottom nav .menu {
    list-style-type:none;
    display:flex;
    align-items:center;
    justify-content:center
}
@media only screen and (max-width: 1023px) {
    .footer .region-footer-bottom nav .menu {
        flex-direction:column
    }
}
.footer .region-footer-bottom nav .menu li {
    list-style-type:none
}
.footer .region-footer-bottom nav .menu li:last-of-type a::after {
    content:none
}
.footer .region-footer-bottom nav .menu li a {
    color: var(--color-primary);
    text-decoration:underline;
    font-size: 13px;
    font-weight: 700;
}
.footer .region-footer-bottom nav .menu li a::after {
    content:" | ";
    display:inline-block;
    margin:0 5px
}


/* MegaMenu */

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li.dropdown.open.active > span.tb-megamenu-no-link:hover {
    background-color: #fff;
    color: var(--color-primary);
    border: 1px dashed #000;
}

.tb-megamenu .dropdown-menu {
    border-bottom: 3px solid var(--color-primary);
}

.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a, .tb-megamenu .mega-nav > li:first-child > span.tb-megamenu-no-link, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > span.tb-megamenu-no-link {
    background: none;
}

.dropdown {
    overflow: visible !important;
}


.tb-megamenu {
    background-color: #fff;
    position: inherit;
}

.tb-megamenu .nav > li > a, .tb-megamenu .nav > li > span.tb-megamenu-no-link {
    border-right: 0;
    color: var(--color-primary);
}

.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus, .tb-megamenu .nav > .active > span.tb-megamenu-no-link, .tb-megamenu .nav > .active > span.tb-megamenu-no-link:hover, .tb-megamenu .nav > .active > span.tb-megamenu-no-link:focus {
    background-color: #fff;
    color: var(--color-primary);
    text-decoration: underline;
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > span.tb-megamenu-no-link:focus, .tb-megamenu .nav > li > span.tb-megamenu-no-link:hover {
    background-color: #fff;
    color: var(--color-primary);
    text-decoration: underline;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #fff;
    color: var(--color-primary);
}

.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a, .tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link:hover, .tb-megamenu .dropdown-menu li > span.tb-megamenu-no-link:focus, .tb-megamenu .dropdown-submenu:hover > span.tb-megamenu-no-link {
    color: var(--color-primary);
}

.megamenu__participacion-y-transparencia {
    display: flex;
    gap: 30px;
    padding: 10px;
    & .megamenu__item{
        flex: 1;
        gap: 30px;
        & h3{
            color: var(--color-primary);
            text-decoration: underline;
            word-break: auto-phrase;
            line-break: anywhere;
            font-size: 20px;
            margin: 0;
        }
        
        & p{
            font-size: 14px;
        }
        
        & a {
            padding: 0;
            font-size: 16px;
            font-weight: 700;
            text-wrap: auto;
            &:hover{
                text-decoration: underline;
                color: var(--color-primary);
            }
        }
    }    
}

/*---------------------OFF CANVAS MENU MOBILE AND SEARCH-------------------------*/



.off-canvas__menu-mobile-and-search {
    top: 0;
    left: 0;
    z-index:10;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    & .of__mms__content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-icon, .slide__of__mms__next{
    display: none;
}

.search-icon, .menu-icon{
    font-size: 25px;
    cursor: pointer;
    &:hover{
        color: var(--color-link);
    }
}


dialog[open].off-canvas__menu-mobile-and-search {
    animation: opacity .5s 0.1s ease forwards;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.swiper.slide__of__mms {
    height: 100%;
    padding: 20px;
    
    & .slide__of__mms__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 30px;
        
        & .slide__of__mms__content__header {
            display: flex;
            justify-content: space-between;
            & .header__close-menu-off-canvas{
                color: red;
            }
            
            & .idt-icon{
                cursor: pointer;
                &:hover{
                    color: var(--color-link);
                }
            }
            
            & svg{
                font-size: 30px;
            }
        }
        
        & .slide__of__mms__content__body {
            flex: 1;
        }
        
        & .slide__of__mms__content__footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            & a {
                padding: 10px 10px;
                background-color: var(--color-primary);
                color: #fff;
                text-align: center;
                width: 100%;
                
                &:nth-child(2){
                    background-color: var(--color-secondary);
                    color: var(--color-primary);
                }
                
                & svg{
                    font-size: 1em;
                }
            }
        }
    }
    
    
}

#views-exposed-form-busqueda-page-search {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    & .views-exposed-form__item{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    & .form-item__label, & label {
        font-size: 40px;
        line-height: 1;
        font-family: 'Poppins';
        font-weight: 900;
    }
    
    & .claro-autocomplete {
        width: 100%;
        & .form-autocomplete {
            margin-inline-end: 0;
        }
    }
}





@media screen and (max-width: 1023px){
    #block-idt-theme-menuprincipal{
        display: none;
    }
    
    .menu-icon, .slide__of__mms__next{
        display: flex;
    }
}


ul.accordion__menu-mobile{
    margin: 0;
    & ul{
        margin: 0;
    }
    & .menu-item{
        border-radius: 10px;
        overflow: hidden;
        --color-white: #fff;
        --color-light-grey: #eee;
        --color-grey: #8a8a8a;
        --color-black: #111;
        margin-bottom: 8px;
        border: 1px solid var(--color-light-grey);
        background-color: var(--color-white);
        box-sizing: border-box;
        padding: 0;
        & .ac-trigger {
            font-family: inherit;
            color: #000000;
        }
        
        .menu-item {
            border-radius: 0px;
            margin-bottom: 0px;
            border: none;
            border-bottom: 1px solid var(--color-light-grey);
        
            & a {
                display: block;
                color: var(--color-link);
                padding: 10px 20px;
                border-radius: 0;
            }
            
            &:last-child a{
                border-radius: 0 0 10px 10px;
            }
        }
    }
    
    & > li > a{
        display: block;
        font-family: inherit;
        color: var(--color-link);
        background-color: var(--color-light-gray);
        padding: 10px 20px;
    }
    
    & a.is-active {
        color: var(--color-primary);
        background-color: #fff;
        border: 1px solid var(--color-primary);
        border-radius: 10px;
    }
    
    & .menu-item--active-trail, & > li > a.is-active{
        position: relative;
        &::before {
            content: "•";
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 2;
            color: var(--color-link);
        }
    }
}

/*---------------------BUTTONS-------------------------*/

.grid-btns-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.idt-btn-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 70, 146, 10%);
    padding: 40px 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
    border: 1px solid rgba(35, 70, 146, 50%);
    gap: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    transition: background-color .15s ease, box-shadow .15s ease;
    & svg {
        font-size: 30px;
    }
    
    &:hover{
        background-color: var(--color-secondary);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    }
}


@media screen and (max-width: 767px){
    
    .grid-btns-4 {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .idt-btn-light {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        font-size: 18px;
        gap: 20px;
    }
}

/* Accordion */

.accordion-container .ac {
    border-radius: 10px;
    overflow: hidden;
    & .ac-trigger {
        font-family: inherit;
        color: var(--color-link);
        font-weight: 600;
        background-color: #EFEFEF;
        background-color: var(--color-light-gray);
        padding: 10px 20px;

        &:focus {
            color: var(--color-primary);
        }
        
        &:hover{
            background-color: var(--color-sunglow);
        }
        
        &[aria-expanded="true"] {
            background-color: var(--color-link);
            color: #fff;
        }
    }
    
    & .ac-panel .ac-text {
        font: 16px BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        line-height: 1.5rem;
        padding: 8px 16px;
    }
}


/* External Links */
a.ext{
    stroke: currentColor;
}

svg.ext, svg.mailto, svg.tel {
    width: 1em;
    height: 1em;
    opacity: 0.5;
}

svg.ext path, svg.mailto path, svg.tel path {
    stroke: inherit;
}



/* vistas */

.views-exposed-form.bef-exposed-form {
    padding: 0;
    margin-top: 0;
    box-shadow: none;
    border: none;
    & .views-exposed-form__item {
        margin-top: 0;
    }
}